.generalImage {
  position: relative;
}

.generalImage::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  z-index: -1;
}

.flexbox {
  margin-top: 15px;
}

.deleteBtn {
  margin-right: 10px;
}

.filter{
  border-radius: 10px;
}

.sapMIBar.sapMTB .sapMBarChild.sapMBarChildFirstChild {
  margin-left: 19px;
}
